.schema-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.schema {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0 1rem;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.4);
    transition: all 0.2s ease-in-out;
}

.schema:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
    scale: 1.01;
}

.active-indicator::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 100%;
    background-color: #45d224;
    left: 0;
    top: 0;
    border-radius: 5px 0 0 5px;
}