/* Navbar.css */

/* Navbar container styles */
.logoContainer {
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;
}

/* Navbar styles */
.nav {
    display: flex;
    justify-content: space-between;
    background-color: #006699;
    height: 2.2rem;
    align-items: stretch;
    padding-left: 11rem  ;
    border-bottom: 8px solid #B2D7EA;
}

/* Navbar list styles */
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Navbar list item styles */
.nav li {
    margin-right: 1rem;
    height: 100%;
}

/* Navbar link styles */
.nav a {
    text-decoration: none;

    color: inherit;
    background-color: #006699;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0.5rem;


}

/* Navbar active link styles */
.nav li.active a {
    background-color: #B2D7EA;
}


