/* Navbar.css */

/* Navbar container styles */
.logoContainer {
    display: flex;
    margin-top: 1rem;
    margin-left: 8rem;
}

/* Navbar styles */
.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0 123 192);
    align-items: stretch;
    padding-left: 11rem  ;
    border-bottom: 8px solid #B2D7EA;
    height: 4rem;
}

/* Navbar list styles */
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Navbar link styles */
.nav a {
    text-decoration: none;
    color: rgb(255 255 255);
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1rem;
}

/* Navbar active link styles */
.nav a.active {
    background-color: #B2D7EA;
    color: rgb(33 36 39);
}
/*navbar hover styles*/
.nav li a:hover {
    background-color: #B2D7EA;
    color: rgb(0 123 192);
}


